
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.container {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden; Ensure no overflow hides transition */
    margin: auto; /* Centered initially */
    transform: translateX(0); /* Default position */
    transition: transform 0.3s ease; /* Smooth transition */
    border: 1px solid red;
}

.canvas-left {
    transform: translateX(-50%); /* Move canvas to the left */
}

#main {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    height: 60vh;
    width: 20vw;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 5vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%; /* Make sure it takes full width */
    height: 100%;
    align-items: end; /* Align items to the end vertically */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Changed from end to start */
    width: 20vw;
    height: 40vh;
    margin-bottom: 3vh;
}

.title {
    border-left: 2px solid black;
    width: 2vw;
    height: 100%;
    display: flex;
    align-items: flex-end; /* Align text to the bottom */
    position: relative;
}

.rot-title {
    transform: rotate(-90deg); /* Use transform for rotation */
    transform-origin: bottom left; /* Set the origin point for rotation */
    position: absolute; /* Position absolutely within the title div */
    bottom: 0; /* Align to the bottom */
    text-align: right; /* Ensure the text is right-aligned after rotation */
    /* border: 1px solid green; */
}

.box_content {
    width: 15vw;
    height: 100%;
    padding-left: 5px;
}

#feature img{
    width: 15vw;
}

#feature {
    position: absolute;
    right: -19vw; /* Position off-screen to the right */
    transition: right 0.5s ease; /* Smooth transition effect */
}

#featured_content > * {
    padding-bottom: 5px;
}

#feature:hover {
    right: 0vw; /* Slide in from the right */
}

/* Font sizes general */

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}

.project-content {
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 0px;
    z-index: 5;
    display: none;
    border: 1px solid green;
    transition: left 0.3s ease; /* Smooth transition */
}