
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.container {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden; Ensure no overflow hides transition */
    margin: auto; /* Centered initially */
    transform: translateX(0); /* Default position */
    transition: transform 0.3s ease; /* Smooth transition */
}

.canvas-left {
    transform: translateX(-50%); /* Move canvas to the left */
}

#main {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    height: 60vh;
    width: 20vw;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 5vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%; /* Make sure it takes full width */
    height: 100%;
    align-items: end; /* Align items to the end vertically */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Changed from end to start */
    width: 20vw;
    height: 40vh;
    margin-bottom: 3vh;
}

.title {
    border-left: 2px solid black;
    width: 1vw;
    height: 100%; /* Ensure full height */
    display: flex;
    align-items: flex-end; /* Center align */
    justify-content: flex-start; /* Center align horizontally */
    position: relative;
}

.rot-title {
    transform: rotate(-90deg); /* Rotate the text */
    transform-origin: left bottom; /* Adjust origin to start from top-left corner */
    position: absolute; /* Absolute positioning */
    white-space: nowrap; /* Prevent text wrapping */
    bottom: 0;
    text-align: flex-start; /* Center align text within rotated element */
}

.box_content {
    width: 15vw;
    height: 100%;
    padding-left: 5px;
}

#feature img{
    width: 15vw;
}

#feature {
    position: absolute;
    right: -19vw; /* Position off-screen to the right */
    transition: right 0.5s ease; /* Smooth transition effect */
}

#featured_content > * {
    padding-bottom: 5px;
}

#feature:hover {
    right: 0vw; /* Slide in from the right */
}

/* Font sizes general */

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}

/* Project Content Styling */

.project-content {
    height: 100vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 10px;
    z-index: 5;
    display: none;
    /* border: 1px solid green; */
    transition: left 0.3s ease; /* Smooth transition */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 3vh;
    border-left: 2px solid black;
}

.cover-content {
    display: flex;
    flex-direction: column;
    width: 45vw;
    padding-left: 5px;
}

.cover-content img {
    height: auto; /* Maintain aspect ratio */
    width: auto;
    max-width: 45vw; /* Use 100% to fill the parent width */
    max-height: 75vh; /* Ensure it doesn't exceed parent width */
}

#cover-title {
    height: 100%;
}

.cover-content > * {
    padding-bottom: 5px;
}