
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.container {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden; Ensure no overflow hides transition */
    position: fixed;
    top: 0px;
    margin: auto; /* Centered initially */
    transform: translateX(0); /* Default position */
    transition: transform 0.3s ease; /* Smooth transition */
}

.canvas-left {
    transform: translateX(-60%); /* Move canvas to the left */
}

#main {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    height: 60vh;
    width: 20vw;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 1vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%; /* Make sure it takes full width */
    height: 100%;
    align-items: end; /* Align items to the end vertically */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Changed from end to start */
    width: 20vw;
    height: 60vh;
    margin-bottom: 1vh;
    margin-left: 3px;
    border-left: 2px solid black;
}

.title {
    /* border-left: 2px solid black; */
    width: 1vw;
    height: 100%; /* Ensure full height */
    display: flex;
    align-items: flex-end; /* Center align */
    justify-content: flex-start; /* Center align horizontally */
    position: relative;
}

#featured_title {
    border-bottom: 2px solid black;
}

.rot-title {
    transform: rotate(-90deg); /* Rotate the text */
    transform-origin: left bottom; /* Adjust origin to start from top-left corner */
    position: absolute; /* Absolute positioning */
    white-space: nowrap; /* Prevent text wrapping */
    bottom: 0;
    text-align: flex-start; /* Center align text within rotated element */
}

.box_content {
    width: 15vw;
    height: 100%;
    padding-left: 5px;
}

#feature img{
    width: 15vw;
}

#feature {
    position: absolute;
    right: -19vw; /* Position off-screen to the right */
    transition: right 0.5s ease; /* Smooth transition effect */
}

#featured_content > * {
    padding-bottom: 5px;
}

#feature:hover {
    right: 0vw; /* Slide in from the right */
}

/* Font sizes general */
h1 {
    font-family: "Inria Sans", sans-serif;
    font-size: xxx-large;
    font-weight: 300;
}

h3 {
    font-family: "Inria Sans", sans-serif;
    font-size: x-large;
    font-weight: 300;
}

h4 {
    font-family: "Inria Sans", sans-serif;
    font-size: xx-large;
    font-weight: 300;
}

p {
    font-family: "Inria Sans", sans-serif;
    font-size: small;
    font-weight: 300;
}
li {
    font-family: "Inria Sans", sans-serif;
    font-size: small;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

/* hidden title */

.selected-project-title {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    padding: 10px;
    z-index: 4;
    display: none;
    transition: top 1s ease; /* Smooth transition */
    padding-bottom: 3vh;
}

#selected-project-title {
    width: 20vw;
    word-wrap: break-word; /* Allows words to break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures compatibility with different browsers */
    /* word-break: break-all; Forces line breaks within words if needed */
}


/* Project Content Styling */

.project-content {
    height: 100vh;
    width: 60vw;
    position: absolute;
    left: 35vw;
    top: 10px;
    z-index: 5;
    display: none;
    /* border: 1px solid green; */
    transition: left 0.3s ease; /* Smooth transition */
    padding-bottom: 3vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 3vh;
    border-left: 2px solid black;
}

.cover-content {
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding-left: 5px;
}

.cover-content img {
    height: auto; /* Maintain aspect ratio */
    width: auto;
    max-width: 55vw; /* Use 100% to fill the parent width */
    max-height: 75vh; /* Ensure it doesn't exceed parent width */
}

#cover-title {
    height: 100%;
}

.cover-content > * {
    padding-bottom: 5px;
}

.skills-tools {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 3vh;
    border-left: 2px solid black;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 3vh;
    border-left: 2px solid black;
}

/* web content to be filled */

.web-content-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: 3vh;
    border-left: 2px solid black;
}

.web-box-content {
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding-left: 5px;
    /* border-left: 2px solid black; */
}

.content-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: 25vh; /* Allow height to adjust based on content */
    /* margin-bottom: 3vh; */
    /* border-left: 2px solid black; */
}

.content-images.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3vh;
}

.content-images.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns of equal width */
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3vh;
}

.content-images img {
    width: 100% !important;
    height: auto; 
}

.content-iframe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: 30vh; /* Allow height to adjust based on content */
    margin-top: 3vh;
    /* border-left: 2px solid black; */
}

.content-video {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; /* Align items to the start */
    width: 100%;
    height: 100%; /* Allow height to adjust based on content */
    /* margin-bottom: 3vh; */
    /* border-left: 2px solid black; */
}

.content-video video {
    width: 100%;
    /* height: 300px; */
    border: none;
}